---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

p>code, a>code, li>code, figcaption>code, td>code {
    color: #ffcb6b;
    background: #263238;
}

.list__item:hover .gw-repo:hover {
    background-color: rgba($color: #000000, $alpha: 0.13);
}

.nav__list > label {
    width: 100%;
}

.greedy-nav .hidden-links {
    top: 100%;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials