---
layout: archive
---

<h3 class="archive__subtitle">최근 트윗</h3>
<a class="twitter-timeline" data-chrome="noheader nofooter noscrollbar transparent noborders" data-dnt="true" data-tweet-limit=1 data-theme="dark" href="https://twitter.com/__root____?ref_src=twsrc%5Etfw">Tweets by __root____</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<h3 class="archive__subtitle">최근 Github 활동</h3>
<div class="github-widget" data-user="Junroot" data-options='{"sortBy":"updated_at", "limit":5, "forks":true}'></div>
<script src="/github-widget/github-widget.js"></script>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}